.kb-card {
  width: 100%;
  background-color: white;

  &.with-radius {
    border-radius: 7px;
  }

  .card-title {
    padding: 15px 15px;

    p {
      margin: 0;
      padding: 0;

      font-weight: bold;
      font-size: 1rem;
    }
  }

  .card-body {
    padding: 10px 15px;
  }
}
